[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "solarized8"]
    path = vim/pack/themes/opt/solarized8
    url  = https://github.com/lifepillar/vim-solarized8
